STREAM_URL='https://starknetid-sepolia.starknet.a5a.ch'
DEFAULT_FINALITY='DATA_STATUS_PENDING'
DEPOSITS_STARTING_BLOCK=xxxx
WITHDRAWALS_STARTING_BLOCK=xxxx
RUNES_CONTRACT='0xxxxxx'
STARKNET_BASE_ASSET_CONTRACT='0xxxxxx'
MONGO_CONNECTION_STRING='xxxx'
DATABASE_NAME='utu_sepolia'